cosapp==0.14.1
ipython
matplotlib==3.6.3
numpy
pandas
pythreejs
scipy
sympy
numpy-stl
pyvista
ipywidgets
ipympl
plotly
nbformat
PyQt5
pytest
flake8
isort
black
pre-commit
cosapp_fmu @ git+ssh://git@github.com/twiinIT/cosapp-fmu.git@master
maintenance @ git+ssh://git@github.com/twiinIT/maintenance.git@master
OMPython
